.servicespage {
    .schero {
        background: url(../img/services/hero.jpg) no-repeat center center;
        background-size: cover;
    }
    .scservices {
        background: $main-bg;
        padding: 9% 0 0;
        .title {
            text-align: center;
            width: max-content;
            margin: auto;
        }
        .scservices__slide {
            .flickity-viewport {
                height: 100% !important;
            }
            margin-top: 80px;
            position: relative;
            height: 450px;
            &-item {
                margin-right: 54px;
                width: 690px;
                height: 100%;
                position: absolute;
                overflow: hidden;
                color: $white-cl;
                .content {
                    @include mid;
                    z-index: 10;
                    p {
                        font-family: "ol";
                        font-size: 54px;
                        line-height: 40px;
                    }
                }
                .photo {
                    height: 0;
                    padding-bottom: 65.5%;
                    position: relative;
                    overflow: hidden;
                    img {
                        @include midimg;
                    }
                }
            }
        }
        .process-bar {
            display: block;
            width: 25%;
            height: 1px;
            background: $yellow-cl;
            margin: auto;
            margin-top: 56px;
            position: relative;
            .current {
                display: block;
                width: 15%;
                height: 4px;
                background: $yellow-cl;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }

    .scbenefit {
        background: $main-bg;
        padding: 60px 0 120px 0;
        .container {
            .scbenefit__top {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                gap: var(--gap-grid);
                &-left {
                    grid-column: 1/6;
                    .product-list {
                        margin-top: 46px;
                        .item {
                            display: flex;
                            align-items: center;
                            &:not(:last-child) {
                                margin-bottom: 40px;
                            }
                            i {
                                flex-shrink: 0;
                                margin-right: 20px;
                            }
                            p {
                                font-family: "mr";
                                font-size: 16px;
                                line-height: 30px;
                            }
                        }
                    }
                }
                &-right {
                    grid-column: 7/13;
                    position: relative;
                    .overlay {
                        width: fit-content;
                        width: max-content;
                        @include mid;
                        text-align: center;
                        .title {
                            font-family: "csbi";
                            font-size: 72px;
                        }
                        .desc {
                            margin-top: 42px;
                            font-family: "ol";
                            font-size: 24px;
                            line-height: 40px;
                        }
                        .btncoffee {
                            margin: auto;
                            margin-top: 56px;
                        }
                    }
                    .sign {
                        position: absolute;
                        bottom: -48px;
                        right: -80px;
                    }
                }
            }
            .scbenefit__bottom {
                margin-top: 250px;
                &-list {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    .item {
                        text-align: center;
                        .number {
                            font-family: "ol";
                            font-size: 60px;
                            color: $yellow-cl;
                        }
                        .text {
                            margin-top: 24px;
                            font-family: "mr";
                            font-size: 16px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }

    .scprice {
        background: $third-bg;
        padding: 164px 0 340px 0;
        position: relative;
        &__heading {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            .text-bg {
                font-family: "ol";
                font-size: 240px;
                letter-spacing: 0.015em;
                color: $main-bg;
            }
            .title {
                text-align: center;
                position: absolute;
                bottom: -40px;
            }
        }
        &__list {
            position: absolute;
            bottom: -164px;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 50%;
            transform: translateX(-50%);
            &-item {
                background: $main-bg;
                position: relative;
                text-align: center;
                padding: 40px 60px;
                border: 1px solid $yellow-cl;
                .under {
                    margin: 40px 0;
                    .line {
                        width: 50%;
                    }
                }
                &.--mid {
                    background: $black-cl;
                }
                &:not(:last-child) {
                    margin-right: 24px;
                }
                .circle {
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    top: -48px;
                    right: -24px;
                }
                .name {
                    font-family: "mr";
                    font-size: 16px;
                    line-height: 30px;
                    color: $white-cl;
                }
                .price {
                    font-family: "ol";
                    font-size: 60px;
                    line-height: 74px;
                    color: $yellow-cl;
                }
                .person {
                    font-family: "mr";
                    font-size: 16px;
                    line-height: 30px;
                    color: $yellow-cl;
                }
                .btncoffee {
                    margin: auto;
                    margin-top: 40px;
                }
                .content {
                    p {
                        font-family: "ol";
                        font-size: 24px;
                        line-height: 40px;
                        color: $white-cl;
                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }
                    }
                }
            }
        }
    }

    .scphilosophy {
        background: $main-bg;
        padding: 400px 0 120px 0;
        .container-fluid {
            display: flex;
            .scphilosophy__content {
                text-align: center;
                padding: 0 24px;
                .desc {
                    margin-top: 24px;
                    font-family: "ci";
                    font-size: 24px;
                    line-height: 40px;
                }
                .paragraph {
                    margin-top: 56px;
                    font-family: "mr";
                    font-size: 16px;
                    list-style: 30px;
                }
                .sign {
                    margin-top: 24px;
                }
            }
            .scphilosophy__beside {
                flex-shrink: 0;
                width: 384px;
                height: 0;
                padding-bottom: 46.16%;
                overflow: hidden;
                position: relative;
                img {
                    @include midimg;
                }
            }
        }
    }
}

@include xs {
    .traveldetailpage {
        .schero {
            .container {
                .schero__breadcrumb {
                    align-items: flex-start;
                    flex-direction: column;
                    .dot {
                        display: none;
                    }
                }
            }
        }
        .scdetail {
            padding: 120px 0;
            .container {
                padding: 0 15px;
                .scdetail__article {
                    .photo {
                        margin-bottom: 84px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .social {
                    .bottom {
                        flex-direction: column;
                        align-items: flex-start;
                        .thumb {
                            &:not(:last-child) {
                                margin-bottom: 24px;
                            }
                            &:last-child {
                                flex-direction: row;
                                .content {
                                    margin-right: 0;
                                    margin-left: 16px;
                                }
                            }
                        }
                    }
                    .other {
                        &__list {
                            flex-direction: column;
                            .article {
                                &:first-child {
                                    margin: 0;
                                    margin-bottom: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include sm {
    .traveldetailpage {
        .schero {
            .container {
                .schero__breadcrumb {
                    align-items: flex-start;
                    flex-direction: column;
                    .dot {
                        display: none;
                    }
                }
            }
        }
        .scdetail {
            padding: 120px 0;
            .container {
                padding: 0 15px;
                .scdetail__article {
                    .photo {
                        margin-bottom: 84px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .social {
                    .bottom {
                        flex-direction: column;
                        align-items: flex-start;
                        .thumb {
                            &:not(:last-child) {
                                margin-bottom: 24px;
                            }
                            &:last-child {
                                flex-direction: row;
                                .content {
                                    margin-right: 0;
                                    margin-left: 16px;
                                }
                            }
                        }
                    }
                    .other {
                        &__list {
                            flex-direction: column;
                            .article {
                                &:first-child {
                                    margin: 0;
                                    margin-bottom: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
